[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
[protocol]
        version = 2

[user]
	email = gavinlin.au@gmail.com
	name = Gavin
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[color "diff"]
        meta = yellow
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
[diff]
    	colorMoved = dimmed-zebra

[alias]
	rbg = !set -x && git fetch origin green && git stash && git rebase origin/green && git stash pop
        rbm = !set -x && git fetch origin master && git rebase origin/master
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
